/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, button, input, select, textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

a {
	color: #00e;
}

a:visited {
	color: #551a8b;
}

a:hover {
	color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	height: 100%;
}

body {
	color: #fff;
	background: #0a1b22;
	font-family: 'robotolight';
	height: 100%;
}

h1 {
	color: #50be11;
	font-weight: normal;
	text-align: center;
	margin: .2em;
}

div {
	box-sizing: border-box;
}

nav {
	background: #051015;
	box-sizing: border-box;
	height: 56px;
	color: black;
}

nav select {
	margin: 0 .5em;
}

.controls {
	position: absolute;
	right: 1em;
	top: .5em
}

.main {
	width: 1024px;
	margin: 0 auto;
	height: 100%
}

.logo {
	display: inline-block;
	width: 80px;
	vertical-align: middle;
	position: absolute;
	top: .8em;
	left: 1em;
}

.logo img {
	display: inline-block;
	width: 100%;
}

.page-title {
	display: inline-block;
	font-size: 1.2em;
	margin: 10px 0 0 .5em;
	line-height: 30px;
	color: #d91b55;
	position: absolute;
	top: .2em;
	left: 100px;
}

.panel {
	width: 100%;
	margin: 1em auto;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(1024px);
	animation: all .3s linear;
}

.panel.active {
	transform: translateX(0);
}

.chart-container {
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

.legends {
	width: 30%;
	float: right;
	padding: 1em;
}

.legends ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.legends ul li {
	padding: .5em;
	color: #fff;
}

.legends ul span {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 1em -5px 0;
}

#chart-crime-month-container {
	float: right;
}

#chart-crime-month {
	margin: 1em auto;
}

#chart-city-crimes-container {
	width: 80%;
	margin: 0 auto;
}

#chart-crimes-container {
	width: 80%;
	margin: 0 auto;
}

.stage {
	width: 100%;
	min-height: 1024px;
	overflow-x: hidden;
	position: relative;
}

.number-box {
	display: inline-block;
	position: relative;
	margin: 2em auto;
	color: #fff;
}

.number-of-crime {
	font-size: 4em;
	padding: .2em;
	background: #9d1bd9;
}

.number-of-crime-label {
	font-size: 2em;
	background: #d91b55;
}

.text-center {
	text-align: center;
}

.btn {
	color: #fff !important;
	padding: .5em 1em;
	text-transform: uppercase;
	border: 0;
	font-family: 'robotoregular';
	display: inline-block;
	margin: 0 .5em;
}

.primary {
	background: #1bcdd9;
}

.secondary {
	background: #e8562d;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/Roboto-Regular-webfont.eot');
	src: url('../fonts/Roboto-Regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
		url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
		url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotolight';
	src: url('../fonts/Roboto-Light-webfont.eot');
	src: url('../fonts/Roboto-Light-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.woff')
		format('woff'), url('../fonts/Roboto-Light-webfont.ttf')
		format('truetype'),
		url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotothin';
	src: url('../fonts/Roboto-Thin-webfont.eot');
	src: url('../fonts/Roboto-Thin-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/Roboto-Thin-webfont.woff')
		format('woff'), url('../fonts/Roboto-Thin-webfont.ttf')
		format('truetype'), url('../fonts/Roboto-Thin-webfont.svg#robotothin')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */
.nocallout {
	-webkit-touch-callout: none;
}

.pressed {
	background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
	-webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
	position: absolute;
	left: -100%;
}

/*
 * Image replacement
 */
.ir {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	direction: ltr;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}

.ir br {
	display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only
	screen and (min-resolution: 144dpi) {
	/* Style adjustments for viewports that meet the condition */
}

.panelGridCenter {
	margin: 0 auto;
}

/*primefaces*/
.registerButton.registerButton.registerButton {
	background: #1bcdd9;
	color: #fff;
	border: 0;
	border-radius: 0;
	text-shadow: none;
	border: 0;
	box-shadow: none;
	margin-right: 5px;
}

.register1Button.register1Button.register1Button {
	background: #e8562d;
	color: #fff;
	border: 0;
	border-radius: 0;
	text-shadow: none;
	border: 0;
	box-shadow: none;
	margin-right: 5px;
}

.back-to-dashboard {
	background: url('../../images/left-arrow.svg') left center no-repeat;
	background-size: 25px;
	padding: 10px 10px 10px 25px;
	display: inline-block;
	position: absolute;
	top: 60px;
	left: 10px;
}

.back-to-dashboard a {
	color: #50be11 !important;
	text-decoration: none;
	font-size: .8em;
}

body {
	background: #0a1b22;
}

.reportsButton.reportsButton.reportsButton {
	background: #1bcdd9;
	color: #fff;
	border: 0;
	border-radius: 0;
	text-shadow: none;
	border: 0;
	box-shadow: none;
	margin: 10px;
}

.loginButton.loginButton.loginButton {
	background: #e8562d;
	color: #fff;
	border: 0;
	border-radius: 0;
	text-shadow: none;
	border: 0;
	box-shadow: none;
	margin: 10px;
}

th.ui-state-default.ui-state-default.ui-state-default {
	box-shadow: none;
	background: #50be11;
	color: #fff;
	text-shadow: none;
	margin-top: 1em;
	padding: .5em;
	border: 1px solid #051015;
	font-family: 'robotoregular';
}

.ui-datatable-tablewrapper.ui-datatable-tablewrapper.ui-datatable-tablewrapper table
	{
	margin: 1em auto;
}

.ui-datatable-even.ui-datatable-even.ui-datatable-even td {
	background: #063b4f;
	color: #fff;
	border: 1px solid #051015;
	font-family: 'robotolight';
	font-size: .8em;
}

.ui-datatable-even.ui-datatable-even.ui-datatable-even td a {
	color: #fff;
}

.ui-datatable-odd.ui-datatable-odd.ui-datatable-odd td {
	background: #0a1b22;
	color: #fff;
	border: 1px solid #051015;
	font-family: 'robotolight';
	font-size: .8em;
}

.ui-datatable-odd.ui-datatable-odd.ui-datatable-odd td a {
	color: #fff;
}

.ui-panelgrid.ui-panelgrid.ui-panelgrid tr td {
	border: 1px solid #051015;
	background: #063b4f;
	color: #fff;
	font-size: .8em;
}

.ui-panelgrid.ui-panelgrid.ui-panelgrid tr td:first-child {
	background: #50be11;
	color: #fff;
	font-family: 'robotoregular';
	font-size: .8em;
}

.ui-paginator.ui-paginator.ui-paginator {
	background: #051015;
	color: #fff;
	text-shadow: none;
	border: 0;
	box-shadow: none;
}

.ui-paginator.ui-paginator.ui-paginator .ui-state-active {
	background: #50be11;
	color: #fff;
	text-shadow: none;
	border: 0;
	box-shadow: none;
}

.ui-paginator.ui-paginator.ui-paginator .ui-state-active {
	background: #063b4f;
	color: #12526a;
	text-shadow: none;
	border: 0;
	box-shadow: none;
}